<div class="activity-item" id="<%= dom_id activity %>">
  <p>
    <strong>Name:</strong>
    <%= activity.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= activity.address %>
  </p>

  <p>
    <strong>Starts at:</strong>
    <%= activity.starts_at %>
  </p>

  <p>
    <strong>Ends at:</strong>
    <%= activity.ends_at %>
  </p>

  <div class="activity-item-action">
    <%= link_to "Show this activity", activity %>
    <%= button_to "Destroy this activity", activity, method: :delete, class: 'button' %>
  </div>
</div>
