<%= form_with(model: activity, html: { id: 'activity-form' }) do |form| %>
  <% if activity.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
        <% activity.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="step-progress">
    <span id="current-step">1</span>&nbsp;of 3
  </div>

  <div class="step step-1 active">
    <div class="field field-name">
      <%= form.label :name, style: "display: block" %>
      <%= form.text_field :name, class: "form-input" %>
    </div>
  </div>


  <div class="step step-2">
    <div class="field field-address">
      <%= form.label :address, style: "display: block" %>
      <%= form.text_field :address, class: "form-input" %>
    </div>
  </div>

  <div class="step step-3">
    <div class="field field-starts-at">
      <%= form.label :starts_at, style: "display: block" %>
      <%= form.datetime_field :starts_at, class: "form-input" %>
    </div>

    <div class="field field-ends-at">
      <%= form.label :ends_at, style: "display: block" %>
      <%= form.datetime_field :ends_at, class: "form-input" %>
    </div>
  </div>

  <div class="step-actions">
    <div class="step-action step-action-prev hide">
      <button type="button" id="prev-button" class="button">
        Previous
      </button>
    </div>

    <div class="step-action step-action-next">
      <button type="button" id="next-button" class="button">
        Next
      </button>
    </div>

    <div class="step-action step-action-submit hide">
      <%= form.submit "Save Activity", class: "button" %>
    </div>
  </div>
<% end %>
